<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="http://127.0.0.1:1144/imgs/anh2.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
    </a>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:1144/">Manage</a>
        </li>
     
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="search course">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>